In [1]:
import pandas as pd
import numpy as np

In [2]:
distorcao_angular= pd.read_table('./distangular.txt',sep=',', )
distorcao_angular

     Pilar_A  Pilar_B   ΔQ/ΔL
0          1        2   98.00
1          1        3   23.06
2          1        4    1.70
3          1        5  288.49
4          1        6  135.33
..       ...      ...     ...
751       28       23   72.65
752       28       24    1.16
753       28       25   51.45
754       28       26  113.44
755       28       27  226.85

[756 rows x 3 columns]

In [3]:
distorcao_angular.describe().round(2)

       Pilar_A  Pilar_B   ΔQ/ΔL
count   756.00   756.00  756.00
mean     14.50    14.50   74.96
std       8.08     8.08   69.95
min       1.00     1.00    0.60
25%       7.75     7.75   24.36
50%      14.50    14.50   54.41
75%      21.25    21.25  100.11
max      28.00    28.00  465.50

In [4]:
relacao_max = pd.DataFrame(np.amax(distorcao_angular))

In [5]:
relacao_max.columns = ['Máximo']

In [6]:
relacao_max[2:]

       Máximo
ΔQ/ΔL   465.5

In [7]:
distorcao_angular.columns = ['Pilar A', 'Pilar B', 'ΔQ/ΔL']
distorcao_angular

     Pilar A  Pilar B   ΔQ/ΔL
0          1        2   98.00
1          1        3   23.06
2          1        4    1.70
3          1        5  288.49
4          1        6  135.33
..       ...      ...     ...
751       28       23   72.65
752       28       24    1.16
753       28       25   51.45
754       28       26  113.44
755       28       27  226.85

[756 rows x 3 columns]

In [8]:
selecao = distorcao_angular['ΔQ/ΔL'] == 465.50
selecao

n2 = distorcao_angular[selecao]
n2

     Pilar A  Pilar B  ΔQ/ΔL
172        7       12  465.5
303       12        7  465.5

In [10]:
distorcao_angular.to_excel('./distangular.xlsx', index = False)